@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Spartan', sans-serif;
  background-color: #373741;
  color: #ff9d8e
}

.main {
  display: flex;
  flex-direction: column;
}

.intro {
  margin-top: 60px;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;


  .title{
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 50px;
    img{
      height: 2em;
    }

    h5{
      text-align: center;
      font-size: 30px;
      line-height: 50px;
      margin-bottom: 0%;
      margin-top: 0%;
    }
  }

  .scrolldown{
    display: flex;
    font-size: 100px;
  }

  a{
    color: #ff9d8e;
    text-decoration: none;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  

}

.about {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 10%;
  margin-right: 5%;
  padding-top: 5%;

  .pic {
    height: 10em;
    border-radius: 10%;
  }

  p{
    font-size: smaller;
  }

  h3,
  p {
    color: white;
    line-height: 30px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;

  }

}

.s-port {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  margin: 2em;
  margin-top: 5%;
  justify-content: center;
  justify-content: flex-start;
  text-align: center;


  .skillstitle {
    background-color: #ff9d8e;
    color: white;
    text-align: left;
    padding-left: 5%;
  }

  .icons {

    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1;
  }

}

.devicon {
  background-color: white;
  padding-bottom: 1em;
  svg {
    max-width: 10em;
    padding: 1em;
  }


}

.devicon path {
  fill: #ff9d8e;
}



.nav {
  background-color: #ff9d8e;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;

  .logo{
    height: 3em;
    margin-left: 1em;
  }
  a{
    text-decoration: none;
    color: white
  }

  a:hover{
    color: #373741;
  }

  ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;

    li{
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}


.infoblock {
  display: flex;
  flex-direction: column;
  width:100%;
  .topRow, .bottomRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }


  .square1, .square4 {
    flex:3;
  }

  .square2, .square3 {
    flex:1;
  }

}

.projects {
  text-align: center;
  margin: 5em;
  display: flex;
  flex-direction: column;
  background-color: white;

  h2 {
    background-color: #ff9d8e;
    color:white;
    margin:0;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .bulk-proj{
    display:flex;
    flex-direction: column;

    .topRow, .bottomRow{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      img {
        width:33vw;
        padding: 0.5vw;
      }

      .proj1, .proj4 {
        flex: 3;
        border: 2px #373741 solid;
      }
      .proj3, .proj2 {
        flex: 1;
        border: 2px #373741 solid;
      }

      .proj3, .proj1 {
        border-left: 0px;
      }

      .proj4, .proj2{
        border-right: 0px;
      }

      .proj3, .proj2, .proj1, .proj4 {
        display:flex;
        flex-direction: column;
        align-items: center;

        h3 {
          background-color: #ff9d8e;
          color: white;
          width: 100%;
          margin: 0%;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
      
    }

  }
}






@media only screen and (max-width: 2000px) {

  .devicon {
    svg {
      max-width: 5em;
      padding: 0.5em;
    }
  }
 
 
}


@media only screen and (max-width: 850px) {
  .top {
    flex-direction: column;
  }

  .pic {
    height: 10em;
    border-radius: 10%;
  }
  .projects{
    margin: 2em;
    .bulk-proj{
      justify-content: center;
      justify-items: center;
      align-items: center;
      .topRow, .bottomRow{
        flex-direction: column;
        width: 100%;
        .proj3, .proj2, .proj1, .proj4 {
          border: none;
        }
        img {
          width:80vw;
          padding: 1vw;
        }
      }
    }
   
  }
  .devicon {
    svg {
      max-width: 5em;
      padding: 0.5em;
    }
  }
}